Assignment 1 questions and answers:

Task 1:
1.
Install Jupyter notebook and run the first program and share the screenshot of the output.
below are examples for installation and runnning programs:

In [10]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [48]:
for x in range(10):
   print(x)

0
1
2
3
4
5
6
7
8
9

2..
Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [12]:
nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

3...Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name

In [54]:
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hello  " + lname + " " + fname)
print("fname[::-1]",",","lname[::-1]")

Input your First Name : pruthvi
Input your Last Name : veldan
Hello  veldan pruthvi
fname[::-1] , lname[::-1]

4..Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r
3

In [35]:
pi = 3.1415926535897931
r= 6.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  904.7786842338603

Task 2:
1.
Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [36]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Input some comma seprated numbers : 1,4,677
List :  ['1', '4', '677']
Tuple :  ('1', '4', '677')

2.
Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [37]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

3..
Write a Python program to reverse a word after accepting the input from the user.
Sample Output:
Input word: AcadGild
Output: dilGdacA

In [38]:
word = input("Input a word to reverse: ")

for char in range(len(word) - 1, -1, -1):
  print(word[char], end="")
print("\n")

Input a word to reverse: rothless
sselhtor

4.Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens
Sample Output:
WE, THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into a SOVEREIGN, !
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
and to secure to all its citizens

In [77]:
String="""WE, THE PEOPLE OF INDIA, 
having solemnly resolved to constitute India into aSOVEREIGN,! 
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC 
and to secure to all its citizens """
print("\nString with the use of Double Quotes: ")
print(String)

String with the use of Double Quotes:
WE, THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into aSOVEREIGN,!
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
and to secure to all its citizens